<section class="page-footer py-5" style="background-color: #fcd84e;">
  <div class="container">
    <div class="row content mbr-white">
      <!-- Logo & Links -->
      <div class="col-md-4 col-6 foot-logo text-md-start text-center">
        <div class="mb-3 img-logo">
          <img src="{{ '/assets/img/hippo-logo.png' | url }}" alt="Hippo Logo" width="200" class="img-fluid">
        </div>
      </div>

      <!-- Quick Links -->
      <div class="col-md-4 col-6 mt-4 mt-md-0">
        <p class="foot-title fw-bold mb-2" style="color: #351c75;">Quick Links</p>
        <p class="mbr-text mbr-fonts-style display-7">
          <a href="#" class="d-block d-none" style="color: #351c75;">The Founders Desk</a>
		 <a href="{{ '/about/' | url }}" class="d-block" style="color: #351c75;">About Us</a>
          <a href="{{ '/wall-of-dreams/' | url }}" class="d-block" style="color: #351c75;">Wall Of Dreams</a>
          <a href="#" class="d-block d-none" style="color: #351c75;">Rise & Shine Awards</a>
          <a href="https://play.google.com/store/apps/details?id=com.edmatix.parent.hlc" target="_blank" class="d-block" style="color: #351c75;">Parent App</a>
          <a href="{{ '/our-schools/' | url }}" class="d-block" style="color: #351c75;">Schools</a>
         
          <a href="{{ '/blogs/' | url }}" class="d-block" style="color: #351c75;">Blogs</a>
        </p>
      </div>

      <!-- Address & Contact -->
      <div class="col-md-4 col-12 mt-4 mt-md-0">
        <p class="foot-title fw-bold mb-2" style="color: #351c75;">Address</p>
        <p style="color: #351c75;">
          525, 16th Main Rd, Koramangala 3 Block,<br>
          Bengaluru, Karnataka 560034
        </p>
        <p class="foot-title fw-bold mb-2 mt-4" style="color: #351c75;">Contacts</p>
        <p style="color: #351c75;">
          Email: support@hippocampus.in<br>
          Phone: +91 63669 68336
        </p>

        <p class="foot-title fw-bold mb-2 mt-4" style="color: #351c75;">Connect With Us</p>
        <div class="d-flex gap-3">
          <a href="https://facebook.com/hippocampuslearningcentres/" target="_blank"><i class="bi bi-facebook fs-5" style="color:#351c75;"></i></a>
          <a href="https://instagram.com/hippocampuslearningcentres/" target="_blank"><i class="bi bi-instagram fs-5" style="color:#351c75;"></i></a>
          <a href="https://youtube.com/@hippocampuslearningcentres7087" target="_blank"><i class="bi bi-youtube fs-5" style="color:#351c75;"></i></a>
          <a href="https://in.linkedin.com/company/hippocampus-learning-centres" target="_blank"><i class="bi bi-linkedin fs-5" style="color:#351c75;"></i></a>
		  <a href="https://api.whatsapp.com/send?phone=916366968336" target="_blank"><i class="bi bi-whatsapp fs-5" style="color:#351c75;"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer7 text-center py-3 bg-dark text-white">
  <p class="mb-0">© 2025 Hippocampus Learning Centres Pvt. Ltd. - All Rights Reserved</p>
</section>

