<!-- Vendor JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="{{ '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' | url }}" defer></script>
<script src="{{ '/assets/vendor/aos/aos.js' | url }}" defer></script>
<script src="{{ '/assets/vendor/swiper/swiper-bundle.min.js' | url }}"></script>
<script src="{{ '/assets/vendor/custom/js/main.js' | url }}" defer></script>
<!--<script src="{{ '/assets/vendor/custom/js/survey-stepper.js' | url }}" defer></script>-->
<script>
window.addEventListener('scroll', function () {
const header = document.querySelector('header');
if (window.scrollY > 50) {
header.classList.add('scrolled');
document.querySelector('.navbar-brand').classList.remove('text-light');
document.querySelector('.navbar-brand').classList.add('text-dark');
} else {
header.classList.remove('scrolled');
document.querySelector('.navbar-brand').classList.remove('text-dark');
document.querySelector('.navbar-brand').classList.add('text-light');
}
});
</script>
<script>
const pageUrl = encodeURIComponent(location.href);
const pageTitle = encodeURIComponent(document.title);
document.addEventListener('DOMContentLoaded', () => {
const shareFb = document.getElementById('share-fb');
if (shareFb) {
const pageUrlFb = encodeURIComponent(window.location.href);
shareFb.href = `https://www.facebook.com/sharer/sharer.php?u=${pageUrlFb}`;
}
});
document.addEventListener('DOMContentLoaded', () => {
const shareTw = document.getElementById('share-tw');
if (shareTw) {
const pageUrlTw = encodeURIComponent(window.location.href);
shareTw.href = `https://twitter.com/intent/tweet?url=${pageUrlTw}&text=${pageTitle}`;
}
});
document.addEventListener('DOMContentLoaded', () => {
const shareLn = document.getElementById('share-ln');
if (shareLn) {
const pageUrlLn = encodeURIComponent(window.location.href);
shareLn.href = `https://www.linkedin.com/shareArticle?mini=true&url=${pageUrl}&title=${pageTitle}`;
}
});
document.addEventListener('DOMContentLoaded', () => {
const shareFb = document.getElementById('share-fb');
const shareFbInline = document.getElementById('share-fb-inline');
const shareTw = document.getElementById('share-tw');
const shareTwInline = document.getElementById('share-tw-inline');
const shareLn = document.getElementById('share-ln');
const shareLnInline = document.getElementById('share-ln-inline');
if (shareFb && shareFbInline) {
shareFbInline.href = shareFb.href;
}else if(shareTw && shareTwInline) {
shareTwInline.href = shareTw.href;
}else if(shareLn && shareLnInline) {
shareLnInline.href = shareLn.href;
}
});
</script>